<h1 class="text-center m-2">Search Employee Name </h1>

<%= form_with url: search_path, method: :get do |form| %>
   <div class="row justify-content-center">
        <div class="col-lg-3 mt-3">
            <div class="form-group">
                <%= form.label :query %>
                <%= form.text_field :query, class:"form-control" %>
            </div>
        </div>
    </div>

     <div class="row justify-content-center ">
        <div class="col-lg-3 mt-3">
            <div class="form-group">
                <%= form.submit "Search Employee", class:"btn btn-success" %>
            </div>
        </div>
    </div>

<% end %>

<% if @employee_search.try(:any?)   %>
       
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
   <% @employee_search.each do |search| %>
    <tr>
      <th scope="row"> <%= search.id  %> </th>
      <td><%= search.name  %></td>
      <td><%= search.email  %></td>
      <td><%= search.mobile  %></td>
      <td><%= search.gender  %></td>
    </tr>
   <% end %>
  </tbody>
</table>
<% end %>
