<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Product</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <%= link_to "Home", products_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
         <%= link_to "Add New Product", new_product_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
         <%= link_to "Orders", orders_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
         <%= link_to "Customer", business_customers_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
         <%= link_to "Delete Customer", delete_customer_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
         <%= link_to "Search", search_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
         <%= link_to "Name Preview", name_preview_path, class:"nav-link" %>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


