<div id="<%= dom_id user %>">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-2 ">
            <strong>First name:</strong>
        </div>
        <div class="col-lg-2">
            <%= user.first_name %>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
          <div class="col-lg-2">
            <strong>Last name:</strong>
          </div>
          <div class="col-lg-2">
              <%= user.last_name %>
          </div>
    </div>
  
  <div class="row justify-content-center mt-3">
          <div class="col-lg-2">
            <strong>Email:</strong>
          </div>
          <div class="col-lg-2">
                <%= user.email %>
          </div>
  </div>
  
  <div class="row justify-content-center mt-3">
          <div class="col-lg-2">
            <strong>Password:</strong>
          </div>
          <div class="col-lg-2">
            <%= user.password %>
          </div>
  </div>

  <div class="row justify-content-center mt-3">
          <div class="col-lg-2">
            <strong>Subscription email:</strong>
          </div>
          <div class="col-lg-2">
            <%= user.subscription_email %>
          </div>
  </div>

  <div class="row justify-content-center mt-3">
          <div class="col-lg-2">
             <strong>Subcription:</strong>
          </div>
          <div class="col-lg-2">
            <%= user.subcription %>
          </div>
  </div>
  
</div>
