<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  
  <%= link_to "Back to products", products_path, class:"btn btn-danger m-2" %>

  <%= button_to "Destroy this product", @product, method: :delete, class:"btn btn-danger m-2" %>
</div>

<h1 class="text-center m-4"> Show all orders of product on the product's show page </h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%= order.id %></th>
      <td><%= order.quantity %></td>
      <td><%= order.total_price %></td>
      <td><%= order.product.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h1 class="text-center m-3"> Add Order </h1>

<%= form_with model: [@product, @product.orders.build] do |order_form| %>
    <div class="row justify-content-center mt-2">
      <div class="col-lg-3">
           <div class="form-group">
            <%= order_form.label :quantity, style: "display: block" %>
            <%= order_form.text_field :quantity, class:"form-control" %>
          </div>
      </div>
  </div>

  <div class="row justify-content-center mt-2">
      <div class="col-lg-3">
           <div class="form-group">
            <%= order_form.label :total_price, style: "display: block" %>
            <%= order_form.text_field :total_price, class:"form-control" %>
          </div>
      </div>
  </div>

  <div class="row justify-content-center mt-2">
      <div class="col-lg-3">
           <div class="form-group">
            <%= order_form.label :status, style: "display: block" %>
            <%= order_form.text_field :status, class:"form-control" %>
          </div>
      </div>
  </div>

  <div class="row justify-content-center mt-4">
      <div class="col-lg-3">
          <div>
            <%= order_form.submit "Add Order", class:"btn btn-success" %>
          </div>
      </div>
  </div>

<% end %>